# Raw genome sequences
data/raw/

# Large/local databases
*.tar.xz
*.msh

# Temporary MAFFT files
mafft.*

# Python cache
__pycache__/
*.pyc

# Conda/environment files
.env

# Duplicate QUAST output
quast_results/
# =========================
# Bakta generated intermediate outputs
# =========================
*.embl
*.faa
*.ffn
*.hypotheticals.faa
*.hypotheticals.tsv
*.inference.tsv
*.json
*.svg
