# =========================
# Raw genome / sequencing data
# =========================
data/raw/
*.fasta
*.fa
*.fna
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# =========================
# Large/local databases
# =========================
*.tar.xz
*.msh

# =========================
# Temporary files
# =========================
mafft.*
*.tmp
*.temp

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Conda / environment files
# =========================
.env
.venv/
venv/

# =========================
# QUAST temporary/duplicate output
# =========================
quast_results/

# =========================
# Bakta temporary/local outputs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
